<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/overlay.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://kit.fontawesome.com/5128f6ea7d.js" crossorigin="anonymous"></script>
    <script src="./js/dashboard/dashboard.js" type = "module"></script>
    <title>Panel de control</title>
</head>
<body>
    <main>
        <div class = "titleBar">
            <button class = "btn" id = "hamburgerMenu" type = "button"> 
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <h2 id = "title">Productos</h2>
        </div>
        <nav class="sideBar" id = "sideBar">
            <div>
                <button id="btnProducts" class="controlButton controlButton-active">
                    <i class="fa-solid fa-prescription-bottle-medical fa-2xl"></i>
                    <span>Productos</span>
                </button>
                <button id="btnEmployees" class="controlButton">
                    <i class="fa-solid fa-users fa-2xl"></i>
                    <span>Empleados</span>
                </button>
            </div>
            <div>
                <button id="btnAccount" class = "controlButton">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <span>Cuenta</span>
                </button>
            </div>
        </nav>
        <div class="content" id = "contenedorPrincipal">
            <div class="main">
                <div id="products" class = "section">
                    <form class = "d-flex p-3 gap-3 flex-column finder">
                        <input type="text" id = "toSearch" class="form-control" placeholder="Buscar producto..." autocomplete="off">
                        <div class = "input-group">
                            <span class = "input-group-text">Filtrar por</span>
                            <select id = "searchCriteria" class = "form-select">
                                <option value="any">Cualquiera</option>
                                <option value="productName">Nombre</option>
                                <option value="description">Descripcion</option>
                                <option value="solutions">Soluciones</option>
                                <option value="stock">Stock</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <button class="btn btn-outline-primary" id="endSearching" type = "button">Terminar busqueda</button>
                            <button class = "btn btn-outline-success" id = "btnFinder" type = "input">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <div class="listProducts" id = "listProducts">
                        <!-- <div class="productCard">
                            <div class="d-flex justify-content-between gap-2 align-items-center px-2">
                                <h3><a href="/product/4461" class="productLink" target="_blank">Nombre Producto</a></h3>
                                <span class = "text-primary">-100</span>
                            </div>
                            <div class = "d-flex justify-content-between">
                                <div>
                                    <p>Descripcion</p>
                                    <p>Soluciones</p>
                                </div>
                                <div class = "d-flex flex-column align-items-end text-end">
                                    <p><span class = "text-warning">Expira: </span> 2022-07-20</p>
                                    <p><span class = "text-success">Precio: </span>$100</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end gap-2">
                                <button class="btn btn-primary">Agregar</button><button class="btn btn-danger">Borrar</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="spinner-border text-primary my-2 mb-3" id = "spinner" style = "display: none;">
                        <span id = "spinnerText" style = "display: none;"></span>
                    </div>
                </div>
                <div id="employees" class = "section" style = "display: none;">
                    <table class = "table table-striped table-dark">
                        <thead>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Apellido paterno</td>
                            <td>Apellido materno</td>
                            <td>Correo</td>
                        </thead>
                        <tbody>
                            <% employees.forEach(employee => { %>
                                <tr>
                                    <td><%= employee["Id de empleado"] %> </td>
                                    <td><%= employee["Nombre empleado"] %> </td>
                                    <td><%= employee["Apellido Materno Empleado"] %> </td>
                                    <td><%= employee["Apellido Paterno Empleado"] %> </td>
                                    <td><%= employee["Correo electronico de empleado"] %> </td>
                                </tr>
                            <% }) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div class="overlay" style="display: none;" id = "overlay">
        <div class="account" id = "windowAccount" style = "display: none;">
            <div class="header mb-3"><h3><%= userName %></h3><input type="button" id="closeWindow" class="btn-close"></div>
            <div class = "controls">
                <a href="/dashboard/account" target="_blank" class = "btn btn-primary">Cuenta</a>
                <a href="/logout" class="btn btn-danger">Cerrar sesion</a>
                <!-- <button id="logout" class="btn btn-danger">Cerrar sesion</button> -->
            </div>
        </div>
    </div>
</body>
</html>