<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/overlay.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script src="https://kit.fontawesome.com/5128f6ea7d.js" crossorigin="anonymous"></script>
    <script src="/js/dashboard/dashboard.js" type = "module"></script>
    <link rel="icon" href="/img/favicon.svg">
    <title>FWS - Panel de control</title>
</head>
<body>
    <main>
        <input type="text" id = "userType" hidden value = "<%= userType %>">
        <input type="text" id="hasJob" hidden value = "<%= hasJob %>">
        <div class = "titleBar">
            <button class = "btn" id = "hamburgerMenu" type = "button"> 
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <h2 id = "title">Productos</h2>
        </div>
        <nav class="sideBar" id = "sideBar">
            <div>
                <button id="btnProducts" class="controlButton controlButton-active">
                    <i class="fa-solid fa-prescription-bottle-medical fa-2xl"></i>
                    <span>Productos</span>
                </button>
                <button id="btnShoppingCart" class="controlButton">
                    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    <span>Carrito</span>
                </button>
                <% if (userType === "boss") { %>
                    <button id="btnEmployees" class="controlButton">
                        <i class="fa-solid fa-users fa-2xl"></i>
                        <span>Empleados</span>
                    </button>
                <% } %>
            </div>
            <div>
                <button id="btnAccount" class = "controlButton">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <span>Cuenta</span>
                </button>
            </div>
        </nav>
        <div class="content" id = "contenedorPrincipal">
            <div class="main">
                <div id="products" class = "section">
                    <form class = "d-flex p-3 gap-3 flex-column finder">
                        <input type="text" id = "toSearch" class="form-control" placeholder="Buscar producto..." autocomplete="off">
                        <div class = "input-group">
                            <span class = "input-group-text">Filtrar por</span>
                            <select id = "searchCriteria" class = "form-select">
                                <option value="any">Cualquiera</option>
                                <option value="productName">Nombre</option>
                                <option value="description">Descripcion</option>
                                <option value="solutions">Soluciones</option>
                                <option value="stock">Stock</option>
                                <option value="unitPrice">Precio</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <button class="btn btn-outline-primary" id="endSearching" type = "button">Terminar busqueda</button>
                            <button class = "btn btn-outline-success" id = "btnFinder" type = "input">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <div class="listProducts" id = "listProducts">
                    </div>
                    <div class="spinner-border text-primary my-2 mb-3" id = "spinner" style = "display: none;">
                        <span id = "spinnerText" style = "display: none;"></span>
                    </div>
                    <button class="buttonadd rounded-circle" id = "btnAddProduct">
                        <i class="fa-solid fa-plus fa-2xl"></i>
                    </button>
                    <div class="contAgregarProducto" style="display: none;">
                        <form class="FormularioAgregarProducto gap-2 p-4" id="FormAgregarProducto" style="display: none;">
                            <div class = "header">
                                <h2>Registrar Producto</h2>
                                <button type = "button" class = "btn btn-close"></button>
                            </div>
                            <label>Nombre:<input type="text" name="productName" class="form-control" placeholder="Nombre de medicamento"></label>
                            <label>
                                Descripcion:
                                <textarea name="description" class = "form-control" rows="2" placeholder="Descripcion del medicamento"></textarea>
                            </label>
                            <label>
                                Solucion: 
                                <textArea name = "solutions" class = "form-control" rows = "3" placeholder="Soluciones del medicamento"></textArea>
                            </label>
                            <label>Precio unitario:<input type="number" min = "0" step = "0.50" name="unitPrice" class="form-control" placeholder="Precio"></label>
                            <label>Existencias:<input type="number" name="stock" class="form-control" placeholder="Existencias"></label>
                            <label>Fecha de Expiracion: <input type="date" name="expirationDate" class="form-control" placeholder="Expiracion"></label>
                            <button type = "submit" class="btn btn-success mt-3">Agregar</button>
                        </form>
                    </div>
                </div>
                <div id="shoppingCart" class="section" style = "display: none;">
                    <h3 id = "cartMessage">No hay productos en el carrito</h3>
                    <div class = "cart" style = "display: none;">
                        <div class = "cartList d-flex flex-column justify-self-center align-items-center gap-5" id = "cartList"></div>
                        <div class = "my-3 d-flex flex-column">
                            <span id = "totalPrice" class = "fs-3 text-success fw-bold text-end">$ 0</span>
                            <div class="d-flex flex-column gap-2 mt-2">
                                <button id = "btnBuy" class = "btn btn-success">Realizar compra</button>
                                <button id = "btnClearCart" class = "btn btn-danger">Vaciar carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (userType === "boss") { %>
                    <div id="employees" class = "section" style = "display: none;">
                        <form id = "formAddEmployee" class = "d-flex flex-column gap-3 mb-3 formAddEmployee">
                            <div class="input-group">
                                <label for="employeeId" class = "input-group-text">Id empleado:</label>
                                <input type="number" name="employeeId" id="employeeId" placeholder = "Id de empleado" class = "form-control">
                            </div>
                            <button type = "submit" class = "btn btn-success">Acoplar</button>
                        </form>
                        <table class = "table table-striped table-dark" id = "employeeTable" style = "display: none;">
                            <thead>
                                <td>Id</td>
                                <td>Nombre</td>
                                <td>Apellido paterno</td>
                                <td>Apellido materno</td>
                                <td>Correo</td>
                                <td>Desacoplar</td>
                            </thead>
                            <tbody>
                                <% //employees.forEach(employee => { %>
                                    <!-- <tr>
                                        <td  class = "data-employee"><%= //employee["Id de empleado"] %> </td>
                                        <td  class = "data-employee"><%= //employee["Nombre empleado"] %> </td>
                                        <td  class = "data-employee"><%= //employee["Apellido Materno Empleado"] %> </td>
                                        <td  class = "data-employee"><%= //employee["Apellido Paterno Empleado"] %> </td>
                                        <td  class = "data-employee"><%= //employee["Correo electronico de empleado"] %> </td>
                                    </tr> -->
                                <% //}) %> 
                            </tbody>
                        </table>
                        <div class="spinner-border text-primary my-2 mb-3" id = "employeeSpinner" style = "display: none;">
                            <span id = "employeeSpinnerText" style = "display: none;"></span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <div class="overlay" style="display: none;"  id = "overlay">
        <div class="account" id = "windowAccount" style = "display: none;">
            <div class="header mb-3"><h3><%= userName %></h3><input type="button" id="closeWindow" class="btn-close"></div>
            <div class = "controls">
                <a href="/dashboard/account" class = "btn btn-primary">Cuenta</a>
                <a href="/logout" class="btn btn-danger">Cerrar sesion</a>
            </div>
        </div>

        <div id = "message" class="msg" style = "display: none;"> 
            <div class="header mb-3"><span>Alerta </span><input type="button" id="closeMsg" class="btn-close"></div>
            <p></p>
        </div>

        <div class="msg" id = "modalInput" style="display: none;">
            <form>
                <div class="header mb-3"><span class = "fw-bold">Confirmaci&oacute;n: </span><input type="button" id="closeModal" class="btn-close" /></div>
                <p class = "fw-bold">Escriba su contrase&ntilde;a actual para confirmar los cambios:</p>
                <input type="password" id = "modalField" class = "form-control" placeholder="Contrase&ntilde;a">
                <div class="d-flex justify-content-end mt-3"><button type = "input" id = "modalButton" class="btn btn-success">Confirmar</button></div>
            </form>
        </div>
    </div>
</body>
</html>
